<div class="center-content">
    <h1>&#128293 {{title}} &#128293</h1> <!-- Display the title of the page -->
    <ul>
        {{#each rules}} <!-- Loop through each rule in the "rules" array -->
        <li>{{this}}</li> <!-- Display each rule as a list item -->
        {{/each}}
    </ul>
</div>
<footer class="footer">
    <p>"Yesterday, you said tomorrow. Just do it." - Shia LaBeouf</p>
</footer>