<div class="center-content">
    <h1>&#128293   "30-Day Challenge" &#128293</h1> <!-- Display the title of the page -->
    
    <ul>
        
    <li> Rules </li>
    Run/Walk for 30 minutes<br>
    Drink a Gallon of Water a day<br>
    Read 8 pages of a book<br>
    No Alcohol<br>
    Workout 45 minutes a day<br>
    More than 7 hours of sleep
  </p>
    </ul>
</div>
<footer class="footer">
    <p>"Yesterday, you said tomorrow. Just do it." - Shia LaBeouf</p>
</footer>