<body>
    <div class="center-content">
        <h1>&#128293; 30-Day Challenge &#128293;</h1> <!-- Display the title of the page -->
        <ul>
            <li>Run/Walk for 30 minutes</li>
            <li>Drink a Gallon of Water a day</li>
            <li>Read 8 pages of a book</li>
            <li>No Alcohol</li>
            <li>Workout 45 minutes a day</li>
            <li>More than 7 hours of sleep</li>
        </ul>
    </div>
    <footer class="footer">
        <p>"Yesterday, you said tomorrow. Just do it." - Shia LaBeouf</p>
    </footer>
</body>