<h1 class="homepage-title">{{title}}</h1> <!-- Display the title of the page -->
<ul>
    {{#each rules}} <!-- Loop through each rule in the "rules" array -->
    <li class="rules">{{this}}</li> <!-- Display each rule as a list item -->
    {{/each}}
</ul>
