<h1>{{title}}</h1> <!-- Display the title of the page -->
<ul>
    {{#each rules}} <!-- Loop through each rule in the "rules" array -->
    <li>{{this}}</li> <!-- Display each rule as a list item -->
    {{/each}}
</ul>
