<body>
    <p>Welcome, {{username}}</p>
    <div class="container">
        <!-- Generate 30 boxes dynamically using JavaScript -->
    </div>
    <footer class="profileQuote">
        <p>"Find something to believe in, and find it for yourself. When you do, pass it on to the future." -Solid Snake, MGS2</p>
    </footer>
    <script src="/js/profile.js"></script>
</body>