    <div class="container">

    </div>
    <div id="challenge-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="day-title"></h2>
            <ul id="challenges-list">
                <li>Run/Walk for 30 minutes</li>
                <li>Drink a Gallon of Water a day</li>
                <li>Read 8 pages of a book</li>
                <li>No Alcohol</li>
                <li>Workout 45 minutes a day</li>
                <li>More than 7 hours of sleep</li>
            </ul>
        </div>
    </div>
    <script src="/js/profile.js"></script>
