<body>
    <p class="welcome">Welcome, {{username}}</p>
    <div class="container">
        <!-- Generate 30 boxes dynamically using JavaScript -->
    </div>
    <footer class="profileQuote">
        <p>"The journey of a thousand miles begins with one step." — Lao Tzu</p>
    </footer>
    <script src="/js/profile.js"></script>
</body>