<body>
    <main class="profile-main">
        <div class="profile-container">
            <p class="welcome-message">Welcome, {{username}} 💪</p>
            <div class="container">
        <!-- Generate 30 boxes dynamically using JavaScript -->
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>"Find something to believe in, and find it for yourself. When you do, pass it on to the future." -Solid Snake, MGS2</p>
    </footer>
    <script src="/js/profile.js"></script>
</body>